<a href="https://colab.research.google.com/github/L1dd0n/L1dd0n/blob/main/Stair_problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Stair problem project
### Breif explanation: 
My friend (who works as a project manager on a construction site) came to me with a problem regarding the need to change the height of each step of several flights of stairs to match the average of said stair case.

Tabula-py needs to be installed each time as it cannot be contained on colab.

In [ ]:
!pip install tabula-py

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tabula-py
  Downloading tabula_py-2.5.1-py3-none-any.whl (12.0 MB)
     |████████████████████████████████| 12.0 MB 5.4 MB/s
Collecting distro
  Downloading distro-1.8.0-py3-none-any.whl (20 kB)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2022.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.8.0 tabula-py-2.5.1

These are the libaries i will need.

In [ ]:
import statistics as s
from tabula.io import read_pdf
import pandas as pd

Now lets read the pdf into a dataframe

In [ ]:

def read_stair_pdf():
  pdf_path = "https://github.com/L1dd0n/L1dd0n/raw/main/Risers_in_WM.pdf"
  df_list = read_pdf(pdf_path, pages= "all")
  first_df = pd.concat(df_list[0:], axis =1)
  
  return(first_df)

Here we have the function that calculates the average, which will be used as a benchmark to gauge how much each step needs to be changed by, and then the on going difference, because if you change one step then the rest change as well so that has been accounted for. In the beggining I tried to convert the null values to 0's but found that messed with the mean so then I converted the null values to equal the mean but then figured that would give extra values that werent actually there so finally i decided to make the null values 0 then remove them before the stair differences were calculated. Then converted the floats to integers to make the data more readable.

In [ ]:
# Write some tests for the results of this code
def stair_solution(stairs):
    difference = [] 
    stairs.dropna(inplace= True)
    stairs = stairs.tolist()
    average = round(s.mean(stairs))
    stairs_v2 = []
    for i in stairs:
      stairs_v2.append(int(i))
    stairs = stairs_v2
    for i in range(len(stairs)):
        if len(difference) > 0:
            difference.append(((stairs[i]- average) + difference[i-1]))
        else:
            difference.append((stairs[i])- average)
    return difference

The pdf that my friend sent me was not ready to be intergrated into the stair solution function so i had to clean it up by taking out the unnamed columns, renameing one column as pandas seemed to belive it had the same index as the one prior.

In [ ]:
def cleaning_columns(df):
  new_cols = ['454', '455', '456', '457', '458', '459', '460', '461', '461.1',
       '462', '462.1', '463', '463.1', '464', '464.1', '465', '465.1', '466',
       '466.1', '467', '467.1']
  unnamed_cols = df.columns.str.contains('Unnamed')
  df_l = df.drop(df[df.columns[unnamed_cols]], axis=1)
  df_l.columns = new_cols
  # df_l.fillna(0, inplace= True) m
  # df_l = df_l.astype(int)
  return(df_l)

Finally i then called the previous functions into a varible which then looped through each column of the new data frame and printed the column name, the average and the differences.

In [ ]:
#reading in document and concating all tables 


#calculate stair difference
df_v1 = read_stair_pdf()
df_v2 = cleaning_columns(df_v1) 
for col in df_v2.columns:
  print("Column name: ", col)
  print("Average: ", round(df_v2[col].mean()))
  print("Differences: ", stair_solution(df_v2[col]))

# ! rm *.*

Column name:  454
Average:  193
Differences:  [15, 12, 11, 11, 14, 17, 19, 16, 15, 14, 13, 12, 9, 11, 8, 8, 5, 2]
Column name:  455
Average:  193
Differences:  [11, 8, 8, 8, 10, 9, 8, 6, 3, 0, 2, -1, -1, 1, -1, -5, 0, 5]
Column name:  456
Average:  216
Differences:  [2, 4, 6, 3, 2, 0, -1, 8, 8, 4, 6, 8, 2, 2, 6]
Column name:  457
Average:  214
Differences:  [16, 12, 13, 4, 0, -2, -2, 3, 4, 9, 15, 14, 0, 6]
Column name:  458
Average:  214
Differences:  [3, -5, -6, -1, 2, 3, 5, 3, 4, 2, 3, -2, -1, 5, 4]
Column name:  459
Average:  211
Differences:  [6, 3, 8, 4, 3, 3, 0, -1, 1, 0, -1, -4, -5, -4, 0]
Column name:  460
Average:  210
Differences:  [6, -1, -1, -1, -1, 0, 0, -1, 0, -4, -2, -1, 1, 1, 3, 5]
Column name:  461
Average:  198
Differences:  [-18, -24, -21, -19, -19, -18, -14, -14, -16, -12, -10, -12, -10, -11, -5, 4]
Column name:  461.1
Average:  185
Differences:  [-5, -4, -7, -9, -11, -12, -12, -15, -13, -13, -13, -11, -13, -8, -8, -5, 3]
Column name:  462
Average:  193
Differences:  [0, 0, 2, 3, 10, 12, 9, 13, 12, 14, 11, 14, 16, 13, 10, -3]
Column name:  462.1
Average:  193
Differences:  [-3, -6, -9, -11, -10, -11, -11, -14, -14, -12, -7, -4, -2, 3, 0, -3]
Column name:  463
Average:  196
Differences:  [5, 9, 8, 10, 9, 10, 7, 4, 7, 9, 5, 5, 4, 3, 3, -4]
Column name:  463.1
Average:  198
Differences:  [15, 20, 20, 17, 15, 10, 7, 6, 5, 5, 10, 8, 10, 7, 5, 3]
Column name:  464
Average:  193
Differences:  [15, 12, 9, 10, 9, 11, 10, 11, 11, 11, 13, 18, 15, 19, 26, 6]
Column name:  464.1
Average:  183
Differences:  [5, 5, 12, 13, 10, 10, 8, 3, 4, 3, 3, 6, 3, 5, 5, 5, 6]
Column name:  465
Average:  198
Differences:  [6, -2, -4, -2, -1, -1, 1, -2, -2, -1, 1, 5, 7, 8, 9, 1]
Column name:  465.1
Average:  184
Differences:  [4, 5, 5, 10, 6, 9, 17, 24, 25, 31, 37, 41, 43, 39, 45, 49, 5]
Column name:  466
Average:  197
Differences:  [3, -1, 2, 1, 6, 4, 0, -4, -7, -8, -8, -5, -1, -1, -5]
Column name:  466.1
Average:  197
Differences:  [3, 6, 10, 11, 5, 8, 6, 7, 8, 7, 5, 8, 8, 13, 14, -1]
Column name:  467
Average:  199
Differences:  [7, 8, 5, 6, 7, 5, 4, 5, 6, 7, 11, 13, 13, 8, 7, -1]
Column name:  467.1
Average:  186
Differences:  [12, 10, 8, 2, -4, -4, 7, 5, 6, 5, 7, 7, 4, 6, 11, 5, -7]

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:5258: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(result)

In [ ]:
df_v2
# In the beggining i tried to convert the null values to 0's but found that messed with the mean so then i converted the null values to equal the mean but then figured that would give extra values that werent actually there so finally i decided to make the null values 0 then remove them before the stair differences were calculated

,454,455,456,457,458,459,460,461,461.1,462,...,463,463.1,464,464.1,465,465.1,466,466.1,467,467.1
0,208,204,218.0,230.0,217.0,217.0,216.0,180.0,180.0,193.0,...,201.0,213.0,208.0,188.0,204.0,188.0,200.0,200.0,206.0,198.0
1,190,190,218.0,210.0,206.0,208.0,203.0,192.0,186.0,193.0,...,200.0,203.0,190.0,183.0,190.0,185.0,193.0,200.0,200.0,184.0
2,192,193,218.0,215.0,213.0,216.0,210.0,201.0,182.0,195.0,...,195.0,198.0,190.0,190.0,196.0,184.0,200.0,201.0,196.0,184.0
3,193,193,213.0,205.0,219.0,207.0,210.0,200.0,183.0,194.0,...,198.0,195.0,194.0,184.0,200.0,189.0,196.0,198.0,200.0,180.0
4,196,195,215.0,210.0,217.0,210.0,210.0,198.0,183.0,200.0,...,195.0,196.0,192.0,180.0,199.0,180.0,202.0,191.0,200.0,180.0
5,196,192,214.0,212.0,215.0,211.0,211.0,199.0,184.0,195.0,...,197.0,193.0,195.0,183.0,198.0,187.0,195.0,200.0,197.0,186.0
6,195,192,215.0,214.0,216.0,208.0,210.0,202.0,185.0,190.0,...,193.0,195.0,192.0,181.0,200.0,192.0,193.0,195.0,198.0,197.0
7,190,191,225.0,219.0,212.0,210.0,209.0,198.0,182.0,197.0,...,193.0,197.0,194.0,178.0,195.0,191.0,193.0,198.0,200.0,184.0
8,192,190,216.0,215.0,215.0,213.0,211.0,196.0,187.0,192.0,...,199.0,197.0,193.0,184.0,198.0,185.0,194.0,198.0,200.0,187.0
9,192,190,212.0,219.0,212.0,210.0,206.0,202.0,185.0,195.0,...,198.0,198.0,193.0,182.0,199.0,190.0,196.0,196.0,200.0,185.0
10,192,195,218.0,220.0,215.0,210.0,212.0,200.0,185.0,190.0,...,192.0,203.0,195.0,183.0,200.0,190.0,197.0,195.0,203.0,188.0
11,192,190,218.0,213.0,209.0,208.0,211.0,196.0,187.0,196.0,...,196.0,196.0,198.0,186.0,202.0,188.0,200.0,200.0,201.0,186.0
12,190,193,210.0,200.0,215.0,210.0,212.0,200.0,183.0,195.0,...,195.0,200.0,190.0,180.0,200.0,186.0,201.0,197.0,199.0,183.0
13,195,195,216.0,NaN,220.0,212.0,210.0,197.0,190.0,190.0,...,195.0,195.0,197.0,185.0,199.0,180.0,197.0,202.0,194.0,188.0
14,190,191,220.0,220.0,213.0,215.0,212.0,204.0,185.0,190.0,...,196.0,196.0,200.0,183.0,199.0,190.0,193.0,198.0,198.0,191.0
15,193,189,NaN,NaN,NaN,NaN,212.0,207.0,188.0,180.0,...,189.0,196.0,173.0,183.0,190.0,188.0,NaN,182.0,191.0,180.0
16,190,198,NaN,NaN,NaN,NaN,NaN,NaN,193.0,NaN,...,NaN,NaN,NaN,184.0,NaN,140.0,NaN,NaN,NaN,174.0
17,190,198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN